.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #eefcff;
}

.App {
  width: auto;
  display: grid;
  grid-template-columns: 200px 200px;
  /* grid-template-rows: 100px auto; */
  column-gap: 20px;
  row-gap: 20px;
  width: 420px;
  margin: 0 auto;
  margin-top: 60px;
}

.image-icon {
  width: 130px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

.travel {
  text-transform: uppercase;
  font-size: 10px;
  margin-top: 10px;
  margin-left: 10px;
}

.cards {
  padding-bottom: 30px;
}

.moscow-card {
  background-color: #8f61d8;
}

.istanbul-card {
  background-color: #6177d8;
}

.rome-card {
  background-color: #61a8d8;
}

.beijing-card {
  background-color: #61d8c4;
}

p {
  color: #fff;
}

.countries {
  text-align: center;
  font-size: 20px;
  letter-spacing: 0.1rem;
  margin-top: 5px;
}
